body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(./files/fundo.jpg);
    background-position: top right;
    background-repeat: no-repeat;
}
h1 {
    color: gold;
}

ul li{
    color: brown;
}

h2{
    color: blue;
}
p {
    color: brown;
}
